<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{allowEdit: '1'}"
        fragment="loading"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <!-- ! relative link -> will try to go to /servers/servers-->
    <!-- <a routerLink="servers">Reload Page</a>-->

    <!-- <button class="btn btn-primary" (click)="onReload()">Reload</button>-->
    <!-- <app-edit-server></app-edit-server>-->
    <!-- <hr>-->
    <!-- <app-server></app-server>-->
    <!-- replace these with child routes; this is the 2nd level routes 1st one is at app.component template -->
    <router-outlet></router-outlet>

  </div>
</div>

