<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <!-- This will refresh the page on tab change! we don't want that -->
        <!-- <li role="presentation" class="active"><a href="/">Home</a></li>-->
        <li role="presentation" class="active"><a routerLink="/">Home</a></li>
        <li role="presentation"><a routerLink="/servers">Servers</a></li>

        <!-- allows to give individual path elements-->
        <li role="presentation"><a [routerLink]="['/users']">Users</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- will replace this with the routed component according to the rules in app.module-->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
